<form method="POST" action="/new">
    <header>Add New Message</header>
    <label for="authorName">Name:
        <input type="text" id="author" name="author">

    </label>
    <label for="newMessage">Message:
        <input type="text" id="message" name="message">
    </label>
    <button>Submit</button>
</form>